@charset "UTF-8";


body{
	font-size:16px;
	font-family:"Arial";
}
.cuadro{
  width:40%;
  background-color:#ADEAEA;
  margin:0 auto;
  padding-right: 8px;
  padding-left: 8px;
  padding-top:1px;
  padding-bottom:6px;
}
.der{
	float:right;
	margin-left:5px;
	width:35%;
	position:relative;
}
.der input{
	float:right;
}
.izq{
	width:35%;
	float:left;
	margin-right:5px;
	position:relative;
}
.centro{
	width:30%;
	position:relative;
	margin:0 auto;
}

fieldset{
	border-color:blue;
	background-color:#8ebfbf;
}

legend{
	border:2px solid blue;
	background-color:white;
}

h3{
  color:blue;
  diplay:block;
  border: 3px solid blue;
  text-align:center;
}


table{
  border:3px solid blue;
  background-color:#8ebfbf;
  text-align:left;
  margin:0 auto;

}

td{
	  padding-top:10px;
	  padding-bottom:10px;
}

.arribaiz{
	float:left;
	top:0;
}
.arribade{
	position:relative;
	float:right;
	top:0;
}
.abajoiz{
	float:left;
	bottom:0;
}
.abajode{
	float:right;
	bottom:0;
}